@import 'globals';

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

h1 { 
	text-align: center;
}

h2 {
	color: $primary-color;
}

.col {
	float: left;
}

main {
	width: $main-width;
}

aside {
	width: 100% - $main-width;
	
	ul {
		list-style-type: none;
		padding-left: 0;
	}
}

@import 'responsive';